.input {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  min-width: 350px;
  margin-right: 5px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: 600;
}
