.detail-post {
  &__comments {
    margin: 2rem 0;

    &-comment {
      margin-bottom: 2rem;

      &__content {
        background-color: #f2f3f5;
        padding: 10px 12px;
        border-radius: 1rem;

        &-watch-more {
          margin: 1rem 0 0 3rem;
          font-size: 0.875rem;
          font-weight: 600;
          cursor: pointer;
        }

        &-username {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 600;
        }

        &-time {
          margin: 0.5rem 0 0 3rem;
          font-size: 0.875rem;

          &-reply {
            margin-right: 0.5rem;
            color: #e87a5a;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__content {
    &-comment-form {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }
}
